<div class="modules-pages-home-summary-item">
    <img
            alt="{{top-image-alt}}"
            class="modules-pages-home-summary-item__header-icon"
            src="{{header-icon}}"
    >
    <img
            alt="{{bottom-image-alt}}"
            class="modules-pages-home-summary-item__image"
            src="{{bottom-image-src}}"
    >
    <div class="modules-pages-home-summary-item__title">{{title}}</div>
</div>
