<div class="description-left-item {{#if right-images}}description-left-item_right-images{{/if}}">
    <div class="description-left-item__images {{#if right-images}}description-left-item__images_right-images{{/if}}">
        <div class="description-left-item__main-image-container">
            <img class="description-left-item__main-image" src="{{main-image}}" alt="Mobile app screen shot">
            <img class="description-left-item__second-image {{#if right-images}}description-left-item__second-image_right-images{{/if}}" src="{{second-image}}" alt="Mobile app screen shot">
        </div>
    </div>
    <div class="description-left-item__content-container {{#if right-images}}description-left-item__content-container_right-images{{/if}}">
        <div class="description-left-item__content">
            <img class="description-left-item__content-icon" src="{{icon}}" alt="Icon">
            <h2 class="description-left-item__content-header">{{{header-text}}}</h2>
            <p class="description-left-item__content-text">{{first-text}}</p>
            <p class="description-left-item__content-text">{{second-text}}</p>
        </div>
    </div>
</div>
