<div class="components-common-card-product">
    <div class="components-common-card-product__image-container">
        <img
                alt="{{alt}}"
                class="components-common-card-product__image"
                loading="lazy"
                src="{{imageUrl}}"
        >
    </div>
    <div class="components-common-card-product__content-container">
        <a
                class="link link_yellow components-common-card-product__title"
                href="{{link}}"
        >{{title}}</a>
        <p class="components-common-card-product__date">{{date}}</p>
        <p class="components-common-card-product__description">{{description}}</p>
        <a
                class="link link_yellow components-common-card-product__link"
                href="{{link}}"
        >
            <span>Read more</span>
            <span class="arrow arrow__right"></span>
        </a>
    </div>
</div>
