<div class="modules-pages-home-description-item {{#if right-images}}modules-pages-home-description-item_right-images{{/if}}">
    <div class="modules-pages-home-description-item__images-block">
        <div class="modules-pages-home-description-item__main-image-container">
            <img
                    alt=""
                    class="modules-pages-home-description-item__main-image"
                    loading="lazy"
                    src="{{main-image}}"
            >
            <img
                    alt=""
                    class="modules-pages-home-description-item__second-image"
                    loading="lazy"
                    src="{{second-image}}"
            >
        </div>
    </div>
    <div class="modules-pages-home-description-item__content-block">
        <div class="modules-pages-home-description-item__content-container">
            <img
                    alt=""
                    class="modules-pages-home-description-item__content-icon"
                    loading="lazy"
                    src="{{icon}}"
            >
            <h2 class="modules-pages-home-description-item__content-header">{{{header-text}}}</h2>
            <p class="modules-pages-home-description-item__content-text">{{first-text}}</p>
            <p class="modules-pages-home-description-item__content-text">{{second-text}}</p>
        </div>
    </div>
</div>
