<a class="product-card" href="/product">
    <img class="product-card__image" src="{{imageUrl}}" alt="{{alt}}">
    <div class="product-card__content">
        <h4>{{title}}</h4>
        <p class="product-card__data">{{data}}</p>
        <p class="product-card__description">{{description}}</p>
        <a class="product-card__link" href="/test">
            Read more
            <span class="arrow arrow__right"></span>
        </a>
    </div>
</a>
